body {
	background: black;
	color: pink;
}

/* nav bar */
.topnav {
	background: pink;
	color: black;
	padding: 20px;
	margin-bottom: 10px;
}
/* column 9 */
.col-md-9 {
	padding: 20px;
	margin: 20px;
	background: white;
}

/* column 3 */
.col-md-3 {
	padding: 20px;
	margin: 20px;
	background: white;
}
/*footer*/
footer {
	background: #666;
	color: #fff;
	padding: 30px 0;
	clear: both;
	border-top: 10px solid #4aaaa5;
	color: grey;
	font-size: 12px;
	text-align: center;
	width: 100%;
}